<div class="col-md-4 footer-nav d-none d-md-block">
   <h3 class="text-center">Navigation</h3>
   <div class="nav-links-container">
	   <a href="https://bugmastersmurray.com/" class="footer-nav-link">
		   <i class="fa-solid fa-home fa-fw me-2"></i>Home
	   </a>
	   <a href="https://bugmastersmurray.com/our-services/" class="footer-nav-link">
		   <i class="fa-solid fa-spray-can fa-fw me-2"></i>Services
	   </a>
	   <a href="https://bugmastersmurray.com/pest-library/" class="footer-nav-link">
		   <i class="fa-solid fa-bug fa-fw me-2"></i>Pest Library
	   </a>
	   <a href="https://bugmastersmurray.com/contact-us" class="footer-nav-link">
		   <i class="fa-solid fa-envelope fa-fw me-2"></i>Contact Us
	   </a>
   </div>
</div>