<header class="py-3">
   <div class="row justify-content-center align-items-center text-center">
	   <div class="col-md-6 col-12 mb-3 mb-md-0 logo-container">
		   <a href="https://bugmastersmurray.com" class="d-block">
			   <img src="https://bugmastersmurray.com/assets/images/logo_100h.png" class="img-fluid logo-head mx-auto" alt="Bug Master's Logo">
		   </a>
	   </div>
	   
	   <div class="col-lg-3 header-info d-none d-lg-block">
		   <div class="d-flex justify-content-center align-items-start">
			   <div class="contact-icon me-3">
				   <i class="fa-duotone fa-phone-office fa-2x text-primary" aria-hidden="true"></i>
			   </div>
			   
			   <div class="contact-text text-start">
				   <p class="contact-title mb-1 fw-bold">Phone:</p>
				   <p class="mb-1">KY: (270) 761-BUGS</p>
				   <p class="mb-0">TN: (731) 642-9367</p>
			   </div>
		   </div>
	   </div>
	   
	   <div class="col-lg-3 header-info d-none d-lg-block">
		   <div class="d-flex justify-content-center align-items-start">
			   <div class="contact-icon me-3">
				   <i class="fa-duotone fa-location-dot fa-2x text-primary" aria-hidden="true"></i>
			   </div>
			   <div class="contact-text text-start">
				   <p class="contact-title mb-1 fw-bold">Address:</p>
				   <p class="mb-1">414 N 4th St.</p>
				   <p class="mb-0">Murray, KY 42071</p>
			   </div>
		   </div>
	   </div>
   </div> 
</header>