<div class="row justify-content-center">
   <div class="col">
		<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 nav-bg-custom">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav text-md-center justify-content-md-between w-100">
						<li class="nav-item">
							<a class="nav-link px-3" href="https://bugmastersmurray.com/"><i class="fa-duotone fa-home-alt fa-fw me-1"></i> Home</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link px-3" href="https://bugmastersmurray.com/our-services/"><i class="fa-duotone fa-spray-can-sparkles fa-fw me-1"></i> Services</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link px-3" href="https://bugmastersmurray.com/pest-library/"><i class="fa-duotone fa-bugs fa-fw me-1"></i> Pest Library</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link px-3" href="https://www.puretransax.com/HostedPaymentForm/HostedPaymentPage.aspx?hash=aowCe0IAT0nVj3om6YnmIaLq35roNuC4%2BNGAJWAFAXw%3D" target="_blank" rel="noopener"><i class="fa-duotone fa-credit-card fa-fw me-1"></i> Pay Invoice</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link px-3" href="https://bugmastersmurray.com/contact-us/"><i class="fa-duotone fa-envelope fa-fw me-1"></i> Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
   </div>
</div>